body{
  width:auto;
  height:auto;
  background-image: url("https://image.ibb.co/b48DQb/book.jpg");
  background-size: cover;
}
#header{
  margin-top:-10px;
  display:flex;
  margin-left: 0px;
  width:auto;
  height:100px;
}
#header input[type="text"]{
  margin-top: 10px;
  height:34px;
  width:300px;
  margin-left: 250px;
}
#searchButton{
  margin-top: 10px;
  width:40px;
  height:40px;
  display:flex;
  margin-left:2px;
  background-size: contain;/*It makes background image fit to div*/
  background-image: url("images/searchIcon.png");

}
#description{
  margin:auto;
  margin-left: 100px;
  margin-top: 50px;
  color:white;
}
#description img{
  width:240px;
  height:360px;
  background-image: url("images/no_photo.jpg");
  background-size:contain;
}
#description h5{
  font-size: 18px;
  font-style:bold;
  margin-left: 30px;
  margin-top: 30px;
}
#description h4{
  font-size: 18px;
  font-style:bold;
  margin-top: 30px;
  margin-right: 30px;
}
#logo{
  width:280px;
  height:80px;
  color:white;
}
#logo img{
  margin-left: 10px;
  float:left;
  width:60px;
  height:60px;
}
#logo h2{
  float:left;
  font-size: 26px;
  float:left;
  margin-left: 10px;
}
#profile{
  width:180px;
  height:40px;
  float: left;
  margin-left:240px;
  margin-top: 15px;
}
#profile a, span{
  font-size: 24px;
  font-style: italic;
  color:white;
}
#profile a:hover{
  color:yellow;
}
#rateMenu{
  position:absoulte;
  width:300px;
  height:280px;
  float:left;
  background-color: rgba(0,0,0,0.6);
  margin-left: 650px;
  margin-top:-150px;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating span{
  font-size: 30px;
  display: inline-block;
  position: relative;
  width:20px;
  margin-left: 8px;
}
.rating > span:hover:before {
   content: "\2605";
   position: absolute;
   cursor: pointer;
   color:yellow;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color:yellow;
}
li.profileParent img{
  visibility:visible;
}
#commentSection{
  width:800px;
  height:100px;
  position:absolute;
  margin-top: 350px;
  margin-left: 30px;
}
#commentSection textarea{
  width:600px;
  background-color: rgba(0,0,0,0.6);
  color:white;
}
#commentSection input[type="button"]{
  position:absolute;
  margin-top: 20px;
  margin-left:-380px;
}
#rateMenu p2{
  font-size: 18px;
  font-style:bold;

}
#yourComment{
	float:left;
	margin-left:450px;
	margin-top:50px;
	height:150px;
	width:420px;
	font-size:14px;
	color:white;
	font-style:italic;
}
#login a{
  text-decoration: underline;
}
#login a:hover{
  cursor:pointer;
}
